In [15]:
# 관련 모듈 import 하기
import pandas as pd
import numpy as np

In [14]:
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline 
#그래프는 show()함수를 통해서 독립창에서 실행되는 것이 원칙
#그래프를 콘솔에서 바로 작도되록 하는 설정

In [13]:
# 한글 문제
# matplotlit의 기본 폰트에서 한글 지원되지 않기 때문에
# matplotlib의 폰트 변경 필요
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

In [16]:
# 콘솔에서 모든 출력 허용하기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [17]:
# 판다스 데이터프레임(DataFrame)을 출력할 때, 최대 출력할 수 있는 컬럼을 100개로 
# 데이터를 분석할 때 출력해서 확인하기 편함
pd.options.display.max_columns = 100

In [32]:
raw_data = pd.read_csv('./data/차주정보.csv', encoding='cp949', low_memory = False)

1. raw_data 변수에 할당된 데이터의 행렬 사이즈를 출력하시오
    - 출력은 (row, column) 으로 표시됩니다

In [22]:
raw_data.shape

(50, 4)

2. raw_data의 처음과 마지막 5행씩을 출력하시오

In [23]:
raw_data.head(5)
raw_data.tail(5)

   strd_yymm               deto_id  bth_yr  sex_cd
0     202010  X0010254691714933659    1990       1
1     202010  X0013455316779233219    1954       2
2     202010  X0019385710745765957    1977       1
3     202010  X0019442830801994941    1992       1
4     202010  X0032015350750301834    1968       1

    strd_yymm               deto_id  bth_yr  sex_cd
45     202010  X0456268139651732219    1950       2
46     202010  X0471166329698944221    1956       1
47     202010  X0472554518406992051    1982       2
48     202010  X0473756250702972881    1958       2
49     202010  X0474444465014724107    1967       1

In [28]:
raw_data.info()
raw_data.index
raw_data.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   strd_yymm  50 non-null     int64
 1   deto_id    50 non-null     object
 2   bth_yr     50 non-null     int64
 3   sex_cd     50 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

RangeIndex(start=0, stop=50, step=1)

Index(['strd_yymm', 'deto_id', 'bth_yr', 'sex_cd'], dtype='object')

In [37]:
# 열 이름 변경 메서드 : df.rename(columns={'Before':'After'})
# inplace = True -> 데이터를 저장하겠다는 것을 의미한다.
# inplace = False -> 저장하지 않겠다는 것을 의미함.
raw_data.rename(columns={'strd_yymm':'수집년월',
                        'deto_id' : '사용자ID',
                        'bth_yr' : '생년'}, inplace = True)

In [38]:
raw_data.head(2)

     수집년월                 사용자ID    생년  sex_cd
0  202010  X0010254691714933659  1990       1
1  202010  X0013455316779233219  1954       2

5. 3번에서 확인한 인덱스를 1부터 50 까지의 정수로 수정하고 데이터를 출력하여 확인하시오

In [59]:
# index 에 번호 할당해주기, 1부터 시작하기
raw_data.index = range(1, 51)
raw_data.head(2)
raw_data.tail(2)

     수집년월                 사용자ID    생년  sex_cd
1  202010  X0010254691714933659  1990       1
2  202010  X0013455316779233219  1954       2

      수집년월                 사용자ID    생년  sex_cd
49  202010  X0473756250702972881  1958       2
50  202010  X0474444465014724107  1967       1

6. 출생년도를 4개의 카테고리로 분류하여 연령대 필드를 생성하시오. 
- (청년(19에서 29세); 중년(30에서 49세); 장년(50에서 64세); 노년(65세 이상))
- 2020년 나이를 기준으로 경계(bins)는 직접 설정 하시오

In [84]:
bins = [1991, 1971, 1956, 1955]
연령대 = ['청년', '중년', '장년', '노년']

raw_data['연령대'] = for bin in bins:
                        if bin > raw_data['생년']

1955